.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
}
.details {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-image {
  display: flex;
  justify-content: center;
}
.profile-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #808080;
  width: 64.313rem;
  height: 20rem;
  position: relative;
}
.user-titles,
.user-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: safe;
  margin-bottom: 3rem;
}
.user-info {
  color: grey;
}
.info-line {
  background-color: rgb(240, 240, 240);
  height: 4.813rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-line p {
  text-align: center;
}
.edit-image {
  position: absolute;
  top: 0;
  right: 0;
}
.edit-image img {
  width: 60%;
  position: relative;
  left: 25px;
  cursor: pointer;
}
.current-clients,
.previous-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.current-clients table,
.previous-clients table {
  background-color: rgb(249, 249, 255);
  width: 65rem;
  height: 20rem;
  margin-top: 2rem;
}
.current-clients,
.previous-clients table th,
td,
tr {
  padding: 20px;
  text-align: center;
}
.current-clients table th,
.previous-clients table th {
  color: black;
}
.previous-clients {
  margin-bottom: 10rem;
}
.clients h3 {
  color: black;
}
