@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Playfair+Display:ital@0;1&family=Sono:wght@300;400;500&family=Source+Code+Pro:ital,wght@1,200;1,400&display=swap");
* {
  font-family: "Quando";
  margin: 0;
  padding: 0;
}
.register-body {
  background-color: rgb(28, 29, 38);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  max-width: 1100px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  width: 500px;
  height: 600px;
  position: relative;
}
.left-side img {
  position: absolute;
  top: 10rem;
}
.circle {
  width: 90%;
  background-color: rgb(51, 52, 60);
  height: 100%;
  border-start-end-radius: 100%;
  border-bottom-right-radius: 100%;
}
.userInfo-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  gap: 1rem;
  height: 30rem;
}
.input-icon {
  position: relative;
  display: inline-block;
}

.input-icon input {
  padding-left: 30px;
}

.input-icon i svg {
  position: absolute;
  top: 1px;
  left: 5px;
}

.login-input {
  border: none;
  /* border-bottom: 2px solid red; */
}
.input-icon input {
  border-bottom: 2px solid black;
}

.input-icon input:focus {
  outline: none !important;

  border-bottom: 2px solid rgb(56, 158, 170);
}
.login-with {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}
.login-button {
  width: 15rem;
  height: 2rem;
  border-radius: 20px;
  background-color: rgb(28, 29, 38);
  color: white;
}
.square {
  background-color: rgb(28, 29, 38);
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
.square h3 {
  position: relative;
  top: 5rem;
}
.signup-label {
  display: flex;
  flex-direction: column;
  color: grey;
}
.first-last {
  display: flex;
  gap: 4.1rem;
}
.signup-input::placeholder {
  padding-left: 7px;
}
.signup-input {
  width: 20rem;
  color: black;
}
.first-input {
  width: 8rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  color: white;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.2rem;
  width: 5rem;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
  content: "user";

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(228, 76, 101);
  border-radius: 20px;
}

input:checked + .slider:before {
  content: "company";
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(3rem);
}
.hide-checkbox {
  visibility: hidden;
}
.invalid {
  font-size: 10px;
  color: red;
  /* width: 9rem; */
}
.invalid-1 {
  width: 20rem;
}
@media (max-width: 1100px) {
  .login-container {
    max-width: 800px;
  }
  .square {
    width: 70%;
  }
  .left-side {
  }
  .left-side img {
    /* max-width: 50%; */
  }
  .signup-input {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .login-container {
    max-width: 500px;
  }
  .left-side img {
    display: none;
  }
}
@media (max-width: 500px) {
  .left-side img,
  .left-side {
    display: none;
  }
  .circle {
    display: none;
  }
  .login-container {
    max-width: 375px;
  }
}
